[submodule "openstack-ansible"]
	path = openstack-ansible
	url = https://git.openstack.org/openstack/openstack-ansible
[submodule "rpcd/playbooks/roles/ceph-common"]
	path = rpcd/playbooks/roles/ceph-common
	url = https://github.com/ceph/ansible-ceph-common
[submodule "rpcd/playbooks/roles/ceph-mon"]
	path = rpcd/playbooks/roles/ceph-mon
	url = https://github.com/ceph/ansible-ceph-mon
[submodule "rpcd/playbooks/roles/ceph-osd"]
	path = rpcd/playbooks/roles/ceph-osd
	url = https://github.com/ceph/ansible-ceph-osd
