ansible-lint>=2.7.0,<3.0.0
flake8==2.2.4
hacking>=0.10.0,<0.11
pep8==1.5.7
pyflakes==0.8.1
mccabe==0.2.1 # capped for flake8
bashate>=0.2 # Apache-2.0


# This is required for the docs build jobs
sphinx>=1.3.4,<1.6.0
oslosphinx>=2.5.0 # Apache-2.0
reno==2.2.0 # Apache-2.0. Latest version as of 03-20-2017
sphinx_rtd_theme>=0.1.9
