MySQL wsrep var status as at {{ ansible_date_time.date }}-{{ ansible_date_time.time }}

{% for line in mysqlstatus_result.stdout_lines %}
{{ line }}
{% endfor %}


Instance - volume mappings from mysql as at {{ ansible_date_time.date }}-{{ ansible_date_time.time }}

{% for line in instance_volume_mappings_result.stdout_lines %}
{{ line }}
{% endfor %}


Running instances from database as at {{ ansible_date_time.date }}-{{ ansible_date_time.time }}

{% for line in running_instances_result.stdout_lines %}
{{ line }}
{% endfor %}
