{% extends "horizon/common/_modal.html" %}

{% block modal_id %}{{ template.id }}{% endblock %}

{% block modal-header %}
<img src="{{ template.logo }}" alt="{{ template.title }}" />
{% endblock %}

{% block modal-body %}
<div class="span-9 col-md-9" id="template-content">
    {{ template.long_description | safe }}
</div>
<div class="span-3 col-md-3" id="template-links">
    <div id="highlights">
        <h4>Highlights</h4>
        <ul>
            {% for highlight in template.highlights %}
            <li>{{ highlight }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="links">
        <h4>Links</h4>
        {% for link in template.links %}
            {% for text, href in link.items %}
            <p><a href="{{ href }}">{{ text }}</a></p>
            {% endfor %}
        {% endfor %}
    </div>
    <div id="launch-button">
        <a class="btn btn-lg btn-default btn-launch"
            href="{{ launch_link }}">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            Launch Now
        </a>
    </div>
</div>
{% endblock %}

{% block modal-footer %}
{% endblock %}
