<div class="template col-sm-3 table_wrapper">
    <table id="{{ table.data.title }}"
        class="table table-bordered">
        <thead>
            <tr>
                <th class="normal_column">
                    {{ table.data.title }}
                </th>
            </tr>
        </thead>
        <tbody><tr><td>
                <p>{{ table.data.short_description }}</p>
        </td></tr></tbody>
        <tfoot><tr><td>
                    {{ table.render_table_actions }}
        </td></tr></tfoot>
    </table>
</div>
