{% extends 'rackspace/base.html' %}
{% load i18n %}
{% block title %}Rackspace Private Cloud Solutions{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title="Solutions" %}
{% endblock page_header %}

{% block main %}
<div class="row-fluid">
    <div class="span12">
        <h1>Rackspace Private Cloud Solutions</h1>
        <p class="lead">
        These solutions are OpenStack Heat based templates that have been 
        purpose built to be deployed in your Rackspace Private Cloud. The
        Open Source application stacks are configured to follow best practice
        industry standards for cloud scaling applications, and are provided 
        as-is without Rackspace Support. For more information, please visit
        <a href="http://rcbops.github.io/templates/" target="_blank">
            http://rcbops.github.io/templates/</a>.
        </p>
    </div>

    <div ng-cloak class="ng-cloak" ng-controller="rpc_heat">
        <div>
            <alert ng-repeat="alert in alerts" type="{$alert.type$}" close="closeAlert($index)">{$alert.msg$}</alert>
        </div>
        <div>
            <div class="filter-solutions">
                <input type="search" ng-model="q" placeholder="filter solutions..." />
            </div>
            <div class="clear-right"></div>
        </div>
        <div>
            <div ng-repeat="table in templates | filter:q" class="template col-sm-3 table_wrapper">
                <div id="{$table.title$}" class="solution">
                    <div class="solution-title">
                        <div class="solution-title-text">{$table.title$}</div>
                    </div>
                    <div class="solution-body">
                        <div>
                            <img class="solution-body-logo" ng-if="table.logo!='None'" ng-src="{$table.logo$}" ng-click="more_info(table)">
                        </div>
                        <div>
                            <span ng-bind-html="table.short_desc_safe"></span>
                        </div>
                    </div>
                    <div class="solution-footer">
                        <a href="#" ng-click="more_info(table)">Installation and More Information</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end controller-->
</div>

<script type="text/javascript">
var None = 'None';
var rpc_templates = [{% for table in tables %}
        {
            id:'{{table.data.id}}',
            title:'{{table.data.title|addslashes}}',
            launch_url:'{{table.data.launch_url}}',
            logo:'{{table.data.logo}}',
            basedir:'{{table.data.basedir}}',
            short_desc:'{{table.data.short_description|addslashes|safe}}',
            long_desc:'{{table.data.long_description|addslashes|safe}}',
            architecture:'{{table.data.architecture|escapejs|safe}}',
            design_specs:{{table.data.design_specs|safe}},
            actions:'more_info/{{table.data.title|addslashes}}',
            parameters: {{table.data.parameters|safe}}
                        },
    {% endfor %}];
</script>
<script type="text/javascript" src="/static/rackspace/js/ui-bootstrap-0.9.0.js"></script>
<script type="text/javascript" src="/static/rackspace/js/heat.js"></script>
<script type="text/javascript" src="/static/rackspace/js/template_filter.js"></script>
{% endblock %}
