{% extends 'rackspace/base.html' %}
{% load i18n %}
{% block title %}Heat Templates{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title="RPC Artisinal Templates" %}
{% endblock page_header %}

{% block main %}
<div class="row-fluid">
    <div class="span12">
        <h1>Rackspace Private Cloud Heat Templates</h1>
        <p class="lead">
        Using OpenStack's Orchestration service, Rackspace has designed some 
        fantastic templates that will save you the hassle of starting and 
        configuring instances for your applications.
        </p>
    </div>

    <div class="container">
        <div id="filter-templates">
            Search: <input type="text">
        </div>
        <div class="row">
            {% for table in tables %}
            {{ table.render }}
            {% endfor %}
        </div>
    </div>

</div>

<script type="text/javascript"
        src="/static/rackspace/js/template_filter.js">
</script>
{% endblock %}
