{% extends 'base.html' %}
{% load i18n %}
{% block title %}Training{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title="Training" %}
{% endblock page_header %}

{% block main %}
<div class="row-fluid rpc-content">
	<div class="span12">
		<h1>Rackspace Private Cloud Training</h1>
		<p class="lead">As powerful as OpenStack software is, we know first hand it takes a lot more than software to properly design, deploy and operate a cloud at scale. Rackspace offers the most extensive OpenStack training curriculum in the industry covering topics ranging from an introduction to OpenStack to building cloudy apps and Neutron networking.</p>
		<p><a href="http://training.rackspace.com/classes/" target="_blank" class="btn btn-primary btn-large">Find Training Dates and Locations</a></p>
		<h2>Rackspace OpenStack Curriculum</h2>
		<p>Each course offers a hands-on-experience which includes multiple activities using real-world situations in a lab environment. And in addition to its classroom-based training, Rackspace now offers its flagship course, OpenStack Fundamentals, in an <a href="http://training.rackspace.com/ondemand/" target="_blank">online version</a> for students to take at their own pace and place.</p>
		<div class="row-fluid">
			<div class="span6">
				<h3><a href="http://training.rackspace.com/course/openstack-fundamentals/1/" target="_blank">OpenStack Fundamentals</a></h3>
				<p>Our flagship course covers the history and components of OpenStack and teaches students how to build and maintain an OpenStack environment. <a href="http://training.rackspace.com/course/openstack-fundamentals/1/" target="_blank">More&hellip;</a></p>
				<p class="muted">Course Length: 4 days</p>
			</div>
			<div class="span6">
				<h3><a href="http://training.rackspace.com/course/openstack-compute-essentials/3/" target="_blank">OpenStack Compute Fundamentals</a></h3>
				<p>This course teaches students how to install and configure several OpenStack compute projects including Nova, Glance, Keystone and Horizon. <a href="http://training.rackspace.com/course/openstack-compute-essentials/3/" target="_blank">More&hellip;</a></p>
                		<p class="muted">Course Length: 2 days</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<h3><a href="http://training.rackspace.com/course/introduction-to-openstack/2/" target="_blank">Introduction to OpenStack</a></h3>
				<p>This introductory course teaches students about OpenStack’s history, community, core projects and foundation. <a href="http://training.rackspace.com/course/introduction-to-openstack/2/" target="_blank">More&hellip;</a></p>
                		<p class="muted">Course Length: 1 day</p>
			</div>
			<div class="span6">
				<h3><a href="http://training.rackspace.com/course/openstack-networking-neutron/5/" target="_blank">OpenStack Networking&mdash;Neutron</a></h3>
				<p>Students will learn how to use an API to build and configure networking infrastructure using Neutron. <a href="http://training.rackspace.com/course/openstack-networking-neutron/5/" target="_blank">More&hellip;</a></p>
                		<p class="muted">Course Length: 3 days</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<h3><a href="http://training.rackspace.com/course/hadoop-on-openstack/7/" target="_blank">Hadoop on OpenStack</a></h3>
				<p>This course focuses on big data in the cloud covering an introduction to Apache Hadoop, its components and deploying Hadoop on an OpenStack cloud environment. <a href="http://training.rackspace.com/course/hadoop-on-openstack/7/" target="_blank">More&hellip;</a></p>
                		<p class="muted">Course Length: 2 days</p>
			</div>
			<div class="span6">
				<h3><a href="http://training.rackspace.com/course/openstack-object-storage-essentials/4/" target="_blank">OpenStack Object Storage Essentials</a></h3>
				<p>This course teaches students about the components, architecture, installation and maintenance of OpenStack Object Storage (codename Swift). <a href="http://training.rackspace.com/course/openstack-object-storage-essentials/4/" target="_blank">More&hellip;</a></p>
                		<p class="muted">Course Length: 2 days</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<h3><a href="http://training.rackspace.com/course/security-in-the-cloud/6/" target="_blank">Security In The Cloud</a></h3>
				<p>Our security course teaches students how to develop and apply security safeguards through each virtual layer of an OpenStack environment. <a href="http://training.rackspace.com/course/security-in-the-cloud/6/" target="_blank">More&hellip;</a></p>
                		<p class="muted">Course Length: 2 days</p>
			</div>
			<div class="span6">
				<h3><a href="http://training.rackspace.com/course/building-cloudy-apps/8/" target="_blank">Building Cloudy Apps</a></h3>
				<p>This course covers critical skills needed in a DevOps environment by using Python to explore the concept of horizontal scaling and taking advantage of APIs to scale resources when building cloudy apps. <a href="http://training.rackspace.com/course/building-cloudy-apps/8/" target="_blank">More&hellip;</a></p>
                		<p class="muted">Course Length: 3 days</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
