{% set label = "cinder_vg_check" %}
{% set check_name = label+'--'+ansible_hostname %}
type        : agent.plugin
label       : "{{ check_name }}"
period      : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout     : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled    : "{{ (check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details     :
    file    : vg_check.py
    args    : ["{{ item.cinder_vg_name }}"]
alarms      :
    cinder_vg_space_status :
        label                   : cinder_vg_space_status--{{ ansible_hostname }}
        notification_plan_id    : "{{ maas_notification_plan }}"
        disabled                : {{ (('cinder_vg_space_status--'+ansible_hostname) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (percentage(metric["{{ item.cinder_vg_name }}_vg_used_space"], metric["{{ item.cinder_vg_name }}_vg_total_space"]) > {{ cinder_volumes_vg_critical_threshold }}) {
                return new AlarmStatus(CRITICAL, "space in the {{ item.cinder_vg_name }} vg on this host is more than {{ cinder_volumes_vg_critical_threshold }}% used");
            }
            if (percentage(metric["{{ item.cinder_vg_name }}_vg_used_space"], metric["{{ item.cinder_vg_name }}_vg_total_space"]) > {{ cinder_volumes_vg_warning_threshold }}) {
                return new AlarmStatus(WARNING, "space in the {{ item.cinder_vg_name }} vg on this host is more than {{ cinder_volumes_vg_warning_threshold }}% used");
            }
