{% set label = "container_storage_check" %}
{% set check_name = label+'--'+ansible_hostname %}
type        : agent.plugin
label       : "{{ check_name }}"
period      : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout     : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled    : "{{ (check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details     :
    file    : run_plugin_in_venv.sh
    args    : ["{{ maas_plugin_dir }}container_storage_check.py", "--thresh", "{{ percent_used_critical_threshold }}"]
alarms      :
    container_storage_percent_used_critical:
        label                   : container_storage_percent_used--{{ ansible_hostname }}
        notification_plan_id    : "{{ maas_notification_plan }}"
        disabled                : {{ (('container_storage_percent_used_critical--' + ansible_hostname) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["container_storage_percent_used_critical"] != 1) {
                return new AlarmStatus(CRITICAL, "Container storage for {{ ansible_hostname }} has reached a critical threshold >= {{ percent_used_critical_threshold }} % used.");
            }
