{% set label = "cpu_check" %}
{% set check_name = label+'--'+ansible_hostname %}
type              : agent.cpu
label             : "{{ check_name }}"
period            : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout           : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled          : "{{ (check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
alarms            :
    idle_percent_average        :
        label                   : idle_percent_average--{{ inventory_hostname|quote }}
        notification_plan_id    : "{{ maas_notification_plan }}"
        disabled                : {{ (('idle_percent_average--'+inventory_hostname|quote) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["idle_percent_average"] <= {{ cpu_idle_percent_avg_threshold }}) {
                return new AlarmStatus(WARNING, "CPU time spent idle has dropped to <= {{ cpu_idle_percent_avg_threshold }}%");
            }
