type: agent.plugin
label: "glance_api_local_check--{{ ansible_hostname }}"
disabled    : false
period      : "{{ maas_check_period }}"
timeout     : "{{ maas_check_timeout }}"
details     :
    file    : glance_api_local_check.py
    args    : ["{{ ansible_ssh_host }}"]
alarms      :
    glance_api_local_status :
        label                   : glance_api_local_status--{{ ansible_hostname }}
        notification-plan       : "{{ maas_notification_plan }}"
        criteria                : |
            :set ConsecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["glance_api_local_status"] != 1) {
                return new AlarmStatus(CRITICAL, "API unavailable");
            }
