type: agent.plugin
label: "holland_local_check--{{ ansible_hostname }}"
disabled    : false
period      : "{{ maas_check_period }}"
timeout     : "{{ maas_check_timeout }}"
details     :
    file    : run_plugin_in_venv.sh
    args    : ["{{ maas_plugin_dir }}holland_local_check.py", "{{ container_name }}", "{{ holland_venv_enabled | bool | ternary(holland_venv_bin + '/', '/usr/local/bin/') }}holland"]
alarms      :
     holland_backup_status:
        label                   : holland_backup_status--{{ ansible_hostname }}
        notification_plan_id    : "{{ maas_notification_plan }}"
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["holland_backup_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Could not find holland backup from yesterday");
            }
