{% set label = "hp-check" %}
{% set check_name = label+'--'+ansible_hostname %}
type        : agent.plugin
label       : "{{ check_name }}"
period      : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout     : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled    : "{{ (check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details     :
    file    : hp_monitoring.py
alarms      :
    hp-controller_status :
        label                   : hp-controller--{{ inventory_hostname|quote }}
        notification_plan_id    : {{ maas_notification_plan }}
        disabled                : {{ (('hp-controller--'+inventory_hostname|quote) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["hardware_controller_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Hardware Controller Error");
            }
    hp-controller-battery_status :
        label                   : hp-controller-battery--{{ inventory_hostname|quote }}
        notification_plan_id    : {{ maas_notification_plan }}
        disabled                : {{ (('hp-controller-battery--'+inventory_hostname|quote) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["hardware_controller_battery_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Hardware Controller Battery Error");
            }
    hp-controller-cache_status :
        label                   : hp-controller-cache--{{ inventory_hostname|quote }}
        notification_plan_id    : {{ maas_notification_plan }}
        disabled                : {{ (('hp-controller-cache--'+inventory_hostname|quote) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["hardware_controller_cache_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Hardware Controller Cache Error");
            }
    hp-disk_status :
        label                   : hp-disk--{{ inventory_hostname|quote }}
        notification_plan_id    : {{ maas_notification_plan }}
        disabled                : {{ (('hp-disk--'+inventory_hostname|quote) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["hardware_disk_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Physical Disk Error");
            }
    hp-memory_status :
        label                   : hp-memory--{{ inventory_hostname|quote }}
        notification_plan_id    : {{ maas_notification_plan }}
        disabled                : {{ (('hp-memory--'+inventory_hostname|quote) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["hardware_memory_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Physical Memory Error");
            }
    hp-processors_status :
        label                   : hp-processors--{{ inventory_hostname|quote }}
        notification_plan_id    : {{ maas_notification_plan }}
        disabled                : {{ (('hp-processors--'+inventory_hostname|quote) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["hardware_processors_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Physical Processor Error");
            }
