type: agent.plugin
label: hp-processors
disabled    : false
period      : "{{ maas_check_period }}"
timeout     : "{{ maas_check_timeout }}"
details     :
    file    : hp_monitoring.py
alarms      :
    hp-processors_status :
        label                   : hp-processors--{{ inventory_hostname|quote }}
        notification-plan       :{{ maas_notification_plan }}
        criteria                : |
            consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["hardware_processors_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Physical Processor Error");
            }
