type: agent.plugin
label: hp-disk
disabled    : false
period      : "{{ maas_check_period }}"
timeout     : "{{ maas_check_timeout }}"
details     :
    file    : hp_monitoring.py
alarms      :
    hp-disk_status :
        label                   : hp-disk--{{ inventory_hostname|quote }}
        notification_plan_id    : {{ maas_notification_plan }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["hardware_disk_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Physical Disk Error");
            }
