type              : remote.http
label             : lb_api_check_horizon
disabled          : false
period            : "{{ maas_check_period }}"
timeout           : "{{ maas_check_timeout }}"
target_resolver   : "IPv4"
target_hostname   : "{{ ip_address }}"
details           :
    url           : "{{ maas_horizon_scheme | default(maas_scheme)}}://{{ ip_address }}:443/auth/login"
alarms            :
    lb_api_alarm_horizon     :
        notification-plan   : "{{ maas_notification_plan }}"
        label               : lb_api_alarm_horizon
        criteria            : |
            consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric['code'] != '200') {
                return new AlarmStatus(CRITICAL, 'API unavailable.');
            }
