type              : remote.http
label             : lb_api_check_heat_api
disabled          : false
period            : "{{ maas_check_period }}"
timeout           : "{{ maas_check_timeout }}"
target-alias      : "{{ maas_target_alias }}"
details           :
    url           : "{{ maas_heat_api_scheme | default(maas_scheme)}}://{{ ip_address }}:8004"
alarms            :
    lb_api_alarm_heat_api   :
        notification-plan   : "{{ maas_notification_plan }}"
        label               : lb_api_alarm_heat_api
        criteria            : |
            consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric['code'] != '300') {
                return new AlarmStatus(CRITICAL, 'API unavailable.');
            }
