type              : remote.http
label             : lb_api_check_keystone
disabled          : false
period            : "{{ maas_check_period }}"
timeout           : "{{ maas_check_timeout }}"
target_resolver   : "IPv4"
target_hostname   : "{{ ip_address }}"
details           :
    url           : "{{ maas_keystone_scheme | default(maas_scheme)}}://{{ ip_address }}:{{ keystone_service_port }}"
alarms            :
    lb_api_alarm_keystone   :
        notification-plan   : "{{ maas_notification_plan }}"
        label               : lb_api_alarm_keystone
        criteria            : |
            consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric['code'] != '300') {
                return new AlarmStatus(CRITICAL, 'API unavailable.');
            }
