{% set label = "lb_api_check_horizon" %}
{% set check_name = label+'--'+lb_name %}
type              : remote.http
label             : "{{ check_name }}"
period            : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout           : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled          : "{{ (check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
target_resolver   : "IPv4"
target_hostname   : "{{ ip_address }}"
details           :
    url           : "{{ maas_horizon_scheme | default(maas_scheme)}}://{{ ip_address }}:443/auth/login"
monitoring_zones_poll:
{% for zone in maas_monitoring_zones %}
  - {{ zone }}
{% endfor %}
alarms            :
    lb_api_alarm_horizon     :
        label               : lb_api_alarm_horizon
        notification_plan_id: "{{ maas_notification_plan }}"
        disabled            : {{ ('lb_api_alarm_horizon' | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria            : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric['code'] != '200') {
                return new AlarmStatus(CRITICAL, 'API unavailable.');
            }
