{% set label = "lb_ssl_cert_expiry_check" %}
{% set check_name = label+'--'+lb_name %}
type              : remote.http
label             : "{{ check_name }}"
period            : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout           : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled          : "{{ (check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
target_resolver   : "IPv4"
target_hostname   : "{{ ip_address }}"
details           :
    url           : "https://{{ ip_address }}:443/auth/login/"
alarms            :
    lb_ssl_alarm_cert_expiry:
        label               : lb_ssl_alarm_cert_expiry
        notification_plan_id: "{{ maas_notification_plan }}"
        disabled            : {{ ('lb_ssl_alarm_cert_expiry' | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria            : |
            if (metric['cert_end_in'] < 604800) {
                return new AlarmStatus(CRITICAL, 'Cert expiring in less than 7 days.');
            }
            if (metric['cert_end_in'] < 2628288) {
                return new AlarmStatus(WARNING, 'Cert expiring in less than 30 days.');
            }
            return new AlarmStatus(OK, 'HTTP certificate does not expire soon.');
