type              : remote.http
label             : lb_ssl_cert_expiry_check
disabled          : false
period            : "{{ maas_check_period }}"
timeout           : "{{ maas_check_timeout }}"
target_resolver   : "IPv4"
target_hostname   : "{{ ip_address }}"
details           :
    url           : "https://{{ ip_address }}:443/auth/login/"
alarms            :
    lb_ssl_alarm_cert_expiry:
        notification_plan_id: "{{ maas_notification_plan }}"
        label               : lb_ssl_alarm_cert_expiry
        criteria            : |
            if (metric['cert_end_in'] < 604800) {
                return new AlarmStatus(CRITICAL, 'Cert expiring in less than 7 days.');
            }
            if (metric['cert_end_in'] < 2628288) {
                return new AlarmStatus(WARNING, 'Cert expiring in less than 30 days.');
            }
            return new AlarmStatus(OK, 'HTTP certificate does not expire soon.');
