type              : agent.memory
label             : memory_check--{{ inventory_hostname|quote }}
disabled          : false
period            : "{{ maas_check_period }}"
timeout           : "{{ maas_check_timeout }}"
alarms            :
    memory_used                 :
        label                   : memory_check--{{ inventory_hostname|quote }}
        notification_plan_id    : "{{ maas_notification_plan }}"
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (percentage(metric["actual_used"], metric["total"]) >= {{ memory_used_percentage_threshold }}) {
                return new AlarmStatus(WARNING, "Memory is {{ memory_used_percentage_threshold }}%+ in use.");
            }
