{% set label = "network_throughput_"+item.0.name %}
{% set check_name = label+'--'+ansible_hostname %}
{% set max_speed = (item.0.max_speed | default(0, boolean=true) or item.1.stdout) | int * 10 ** 6 / 8 %}
{% set rx_warn = (max_speed | int * item.0.rx_pct_warn | float / 100) | int %}
{% set rx_crit = (max_speed | int * item.0.rx_pct_crit | float / 100) | int %}
{% set tx_warn = (max_speed | int * item.0.tx_pct_warn | float / 100) | int %}
{% set tx_crit = (max_speed | int * item.0.tx_pct_crit | float / 100) | int -%}

type        : agent.network
label       : "{{ check_name }}"
period      : {{ maas_check_period| default(60) }}
timeout     : {{ maas_check_timeout| default(30) }}
disabled    : "{{ (check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details:
  target: {{ item.0.name }}
alarms:
    alarm-network-receive:
        label: Network receive rate on {{ item.0.name }}
        notification_plan_id: "{{ maas_notification_plan }}"
        disabled            : {{ (('Network receive rate on '+item.0.name) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria: |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (rate(metric['rx_bytes']) > {{ rx_crit }}) {
              return new AlarmStatus(CRITICAL, "Network receive rate on {{ item.0.name }} is above your critical threshold of {{ item.0.rx_pct_crit }}% utilisation.");
            }
            if (rate(metric['rx_bytes']) > {{ rx_warn }}) {
              return new AlarmStatus(WARNING, "Network receive rate on {{ item.0.name }} is above your warning threshold of {{ item.0.rx_pct_warn }}% utilisation.");
            }
            return new AlarmStatus(OK, "Network receive rate on {{ item.0.name }} is below your warning threshold of {{ item.0.rx_pct_warn }}% utilisation.");
    alarm-network-transmit:
        label: Network transmit rate on {{ item.0.name }}
        notification_plan_id: "{{ maas_notification_plan }}"
        disabled            : {{ (('Network transmit rate on '+item.0.name) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria: |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (rate(metric['tx_bytes']) > {{ tx_crit }}) {
              return new AlarmStatus(CRITICAL, "Network transmit rate on {{ item.0.name }} is above your critical threshold of {{ item.0.tx_pct_crit }}% utilisation.");
            }
            if (rate(metric['tx_bytes']) > {{ tx_warn }}) {
              return new AlarmStatus(WARNING, "Network transmit rate on {{ item.0.name }} is above your warning threshold of {{ item.0.tx_pct_warn }}% utilisation.");
            }
            return new AlarmStatus(OK, "Network transmit rate on {{ item.0.name }} is below your warning threshold of {{ item.0.tx_pct_warn }}% utilisation.");
