type: agent.plugin
label: neutron_linuxbridge_agent_check--{{ ansible_hostname }}
disabled    : false
period      : "{{ maas_check_period }}"
timeout     : "{{ maas_check_timeout }}"
details     :
    file    : neutron_service_check.py
    args    : ["--host", "{{ ansible_nodename }}", "{{ internal_vip_address }}"]
alarms      :
    neutron_linuxbridge_agent_status :
        label                   : neutron_dhcp_agent_status--{{ ansible_hostname }}
        notification_plan_id    : "{{ maas_notification_plan }}"
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["neutron-linuxbridge-agent_status"] != 1) {
                return new AlarmStatus(CRITICAL, "neutron-linuxbridge-agent down");
            }
