type: agent.plugin
label: "neutron_metadata_agent_proxy_check--{{ ansible_hostname }}"
disabled    : false
period      : "{{ maas_check_period }}"
timeout     : "{{ maas_check_timeout }}"
details     :
    file    : neutron_metadata_local_check.py.py
    args    : ["{{ internal_vip_address }}"]
alarms      :
    neutron_metadata_agent_proxy_status :
        label                   : "neutron_metadata_agent_proxy_status--{{ ansible_hostname }}"
        notification-plan       : "{{ maas_notification_plan }}"
        criteria                : |
            :set ConsecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["neutron-metadata-agent-proxy_status"] != 1) {
                return new AlarmStatus(CRITICAL, "neutron-metadata-agent-proxy non-responsive");
            }
