type: agent.plugin
label: nova_cert_check--{{ ansible_hostname }}
disabled    : false
period      : "{{ maas_check_period }}"
timeout     : "{{ maas_check_timeout }}"
details     :
    file    : nova_service_check.py
    args    : ["--host", "{{ ansible_nodename }}", "{{ internal_vip_address }}"]
alarms      :
    nova_cert_status :
        label                   : nova_cert_status--{{ ansible_hostname }}
        notification-plan       : "{{ maas_notification_plan }}"
        criteria                : |
            :set ConsecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["nova-cert_status"] != 1) {
                return new AlarmStatus(CRITICAL, "nova-cert down");
            }
