type: agent.plugin
label: openmanage-memory
disabled    : false
period      : "{{ maas_check_period }}"
timeout     : "{{ maas_check_timeout }}"
details     :
    file    : openmanage.py
    args    : ["chassis", "memory"]
alarms      :
    openmanage-memory_status :
        label                   : openmanage-memory--{{ inventory_hostname|quote }}
        notification_plan_id    : {{ maas_notification_plan }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["hardware_memory_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Physical Memory Error");
            }
