{% set label = "openmanage-processors" %}
{% set check_name = label+'--'+ansible_hostname %}
type        : agent.plugin
label       : "{{ check_name }}"
period      : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout     : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled    : "{{ (check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details     :
    file    : run_plugin_in_venv.sh
    args    : ["{{ maas_plugin_dir }}openmanage.py", "chassis", "processors"]
alarms      :
    openmanage-processors :
        label                   : openmanage-processors--{{ inventory_hostname|quote }}
        notification_plan_id    : {{ maas_notification_plan }}
        disabled                : {{ (('openmanage-processors--'+ansible_hostname) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["hardware_processors_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Physical Processor Error");
            }
