{% set label = "openmanage-memory" %}
{% set check_name = label+'--'+ansible_hostname %}
type        : agent.plugin
label       : "{{ check_name }}"
period      : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout     : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled    : "{{ (check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details     :
    file    : openmanage.py
    args    : ["chassis", "memory"]
alarms      :
    openmanage-memory_status :
        label                   : openmanage-memory--{{ inventory_hostname|quote }}
        notification_plan_id    : {{ maas_notification_plan }}
        disabled                : {{ (('openmanage-memory--'+ansible_hostname) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["hardware_memory_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Physical Memory Error");
            }
