type: agent.plugin
label: openmanage-vdisk
disabled    : false
period      : "{{ maas_check_period }}"
timeout     : "{{ maas_check_timeout }}"
details     :
    file    : openmanage.py
    args    : ["{{ chassis }}", "{{ vdisk }}"]
alarms      :
    openmanage-vdisk :
        label                   : openmanage-vdisk--{{ inventory_hostname|quote }}
        notification-plan       :{{ maas_notification_plan }}
        criteria                : |
            consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["hardware_vdisk_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Physical Disk Error");
            }
