{% set label = "swift_container_replication_check" %}
{% set check_name = label+'--'+ansible_hostname %}
type        : agent.plugin
label       : "{{ check_name }}"
period      : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout     : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled    : "{{ (check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details     :
    file    : run_plugin_in_venv.sh
    args    : ["{{ maas_plugin_dir }}swift-recon.py", "--ring-type", "container", "replication"]
alarms      :
    swift_container_replication_failure_check :
        label                   : swift_container_replication_failure_check--{{ ansible_hostname }}
        notification_plan_id    : "{{ maas_notification_plan }}"
        disabled                : {{ (('swift_container_replication_failure_check--'+ansible_hostname) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["time_failed"] > {{ swift_container_replication_failure_percentage_threshold }}) {
                return new AlarmStatus(CRITICAL, "Swift Container Replication Failure Percentage Above Threshold");
            }
    swift_container_replication_rate_check :
        label                   : swift_container_replication_rate_check--{{ ansible_hostname }}
        notification_plan_id    : "{{ maas_notification_plan }}"
        disabled                : {{ (('swift_container_replication_rate_check--'+ansible_hostname) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (rate(metric["time_avg"]) > {{ swift_container_replication_growth_rate_threshold / maas_check_period}}) {
                return new AlarmStatus(CRITICAL, "Swift Container Replication time growth rate is above configured threshold. Currently above {{ swift_container_replication_growth_rate_threshold }}");
            }
    swift_container_replication_avg_time_check :
        label                   : swift_container_replication_avg_time_check--{{ ansible_hostname }}
        notification_plan_id    : "{{ maas_notification_plan }}"
        disabled                : {{ (('swift_container_replication_avg_time_check--'+ansible_hostname) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["time_avg"] > {{ swift_container_replication_avg_time_threshold }}) {
                return new AlarmStatus(CRITICAL, "Swift Container Replication average time is above configured threshold. Currently above {{ swift_container_replication_avg_time_threshold }}");
            }
