{% set label = "swift_account_server_check" %}
{% set check_name = label+'--'+ansible_hostname %}
type        : agent.plugin
label       : "{{ check_name }}"
period      : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout     : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled    : "{{ (check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details     :
    file    : service_api_local_check.py
    args    : ["swift_account_server", "--path", "/healthcheck", "{{ storage_address }}", "6002"]
alarms      :
    swift_account_server_api_local_status :
        label                   : swift_account_server_api_local_status--{{ ansible_hostname }}
        notification_plan_id    : "{{ maas_notification_plan }}"
        disabled                : {{ (('swift_account_server_api_local_status--'+ansible_hostname) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["swift_account_server_api_local_status"] != 1) {
                return new AlarmStatus(CRITICAL, "API unavailable");
            }
