{% set label = "swift_container_process_check" %}
{% set check_name = label+'--'+ansible_hostname %}
type        : agent.plugin
label       : "{{ check_name }}"
period      : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout     : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled    : "{{ (check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details     :
    file    : run_plugin_in_venv.sh
    args    : ["{{ maas_plugin_dir }}process_check_{% if inventory_hostname in groups['all_containers'] %}container.py", "-c", "{{ inventory_hostname }}", "{% else %}host.py", "{% endif %}{{ swift_container_process_names|join("\", \"") }}"]
alarms      :
{% for process in swift_container_process_names %}
    {{ process }}_process_status:
        label                   : {{ process }}_process_status--{{ ansible_hostname }}
        notification_plan_id    : "{{ maas_notification_plan }}"
        disabled                : "{{ ((process+'_process_status--'+ansible_hostname) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}"
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["{{ process }}_process_status"] != 1 ) {
                return new AlarmStatus(CRITICAL, "Swift process {{ process }} not running on {{ ansible_hostname }}");
            }
{% endfor %}
