#login_wrapper {
    width: 650px;
    min-height: 364px;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.15);
    -ms-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.15);
}

.clearfix {
    zoom: 1;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}


#rackspace_logo_container {
    background: transparent url('/static/rackspace/img/logo-rackspace-large.png') no-repeat;
    background-position: center center;
    width: 192px;
    height: 57px;
    display: inline-block;
    float: left;
    margin-top: 95px;
    padding: 40px 49px;
}

body {
    color: #333;
    font-family: "Helvetica Neue",sans-serif;
    font-size: 13px;
    line-height: 20px;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}



.rs-btn-login:hover, .rs-btn-login.hover {
    background-color: #c40022;
    color: #fff;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#d81436),color-stop(100%,#c40022));
    background-image: -webkit-linear-gradient(#d81436,#c40022);
    background-image: -moz-linear-gradient(#d81436,#c40022);
    background-image: -o-linear-gradient(#d81436,#c40022);
    background-image: linear-gradient(#d81436,#c40022);
}

.rs-btn:hover, .rs-btn.hover {
    text-decoration: none;
    color: #333;
    background-color: #d7d7d7;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(100%,#d7d7d7));
    background-image: -webkit-linear-gradient(#fff,#d7d7d7);
    background-image: -moz-linear-gradient(#fff,#d7d7d7);
    background-image: -o-linear-gradient(#fff,#d7d7d7);
    background-image: linear-gradient(#fff,#d7d7d7);
}

.rs-btn-login {
    color: #fff;
    background-color: #a60004;
    border: 1px solid #a60004;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#d81436),color-stop(100%,#a60004));
    background-image: -webkit-linear-gradient(#d81436,#a60004);
    background-image: -moz-linear-gradient(#d81436,#a60004);
    background-image: -o-linear-gradient(#d81436,#a60004);
    background-image: linear-gradient(#d81436,#a60004);
    text-shadow: 0 -1px 1px rgba(0,0,0,.4);
}

.rs-btn {
    padding: 2px 10px 1px;
    margin: 0;
    color: #333;
    font-family: "Helvetica Neue",sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #c5c5c5;
    border: 1px solid #999;
    cursor: pointer;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(100%,#c5c5c5));
    background-image: -webkit-linear-gradient(#fff,#c5c5c5);
    background-image: -moz-linear-gradient(#fff,#c5c5c5);
    background-image: -o-linear-gradient(#fff,#c5c5c5);
    background-image: linear-gradient(#fff,#c5c5c5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 1px #fff;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button, input {
    line-height: normal;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

#login_block {
    float: left;
    margin: 28px 0;
    padding: 30px 0 30px 49px;
    border-left: 1px solid #ddd;
    font-size: 13px;
}
