{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block modal-header %}{% trans "Welcome to the Cloud Control Panel!" %}{% endblock %}

{% block modal-body %}

     <div>
      <div id="login_wrapper" class="clearfix">
      <div id="rackspace_logo_container"></div>
      <div id="login_block">
        <span class="welcome_message">Welcome to the Cloud Control Panel!</span>
        <form method="post" id="login-form" autocapitalize="off" autocorrect="off">
          <fieldset>
            <div class="rs-control-group">
              <label for="username">Username</label>
              <input type="text" name="username" id="id_username" data-bound-key="username" class="rs-input-large" />
            </div>
            <div class="rs-control-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="id_password" data-bound-key="password" class="rs-input-large" />
            </div>

                        

            <div class="login-action">
              <button type="submit" class="save rs-btn rs-btn-login" onclick="alert('clicked')">Log In</button>
              <span class="form_throb" style="display:none;"></span>
            </div>
          </fieldset>
        </form>
        <a class="help-link" href="#">Need help logging in?</a>
      </div>
    </div>
{% endblock %}

{% block modal-footer %}
  <button type="submit" class="save rs-btn rs-btn-login" onClick="alert('Clicked')">{% trans "Log In" %}</button>
{% endblock %}


