{% extends 'rackspace/base.html' %}
{% load i18n %}
{% block title %}Training{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title="Public Cloud" %}
{% endblock page_header %}

{% block main %}
<div class="row-fluid rpc-content">
	<div class="span12">
		<h1>Rackspace Public Cloud Auth</h1>
		<p class="lead">You can now access your public cloud account here.
		<p> Welcome {{rpc_username}} </p>
	</div>
	<a href="/rackspace/public_cloud/rpclogout">Log Out</href>

</div>
{% endblock %}
