# {{ ansible_managed }}
filebeat:
  prospectors:
{% for service in filebeat_logging_paths %}
    - paths: {{ service.paths | to_json }}
{% if service.document_type is defined %}
      document_type: {{ service.document_type }}
{% endif %}
      encoding: {{ service.encoding |default('utf-8') }}
{% if service.tags is defined %}
      fields_under_root: true
{# NOTE(sigmavirus24): So... filebeats 5.0 will have proper tags support,
 # at which point we can remove this hack. This little piece of trickery,
 # however, needs explanation. In order to send tags so that logstash will
 # process them and send them to ElasticSearch, we need to hide them in the
 # fields attribute on a prospector below. In order to then send the tags as a
 # top-level attribute, we set fields_under_root to be true. Then all is
 # happy.
 #}
      fields:
        tags: {{ service.tags | to_json }}
{% endif %}
{% if service.multiline is defined %}
      multiline:
        pattern: '{{ service.multiline.pattern }}'
        match: {{ service.multiline.match }}
        negate: {{ service.multiline.negate }}
{% endif %}
{% endfor %}
  registry_file: {{ filebeat_registry_file |default('/var/lib/filebeat/registry') }}
output:
  logstash:
    hosts:
{% for host in filebeat_logstash_hosts.split(',') %}
    - '{{ host }}'
{% endfor %}
shipper: null
logging:
  files:
    rotateeverybytes: 10485760  # = 10MB
    keepfiles: 7
