.solution {
        min-width: 245px;
    }
    
 .solution-title {
    background-color: #f1f1f1;
    border: 1px solid #dddddd;
    border-bottom-width: 2px;
    border-collapse: collapse;
    border-top-style: none;
    border-top-width: 0px;
    color: #333333;
    vertical-align: middle;
    //width: 254px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }
    
.solution-title-text {
    font-size: 13px;
    font-weight: bold;
    height: 36px;
    text-align: left;
    padding: 8px;
}
    
.solution-footer {
        background-color: #dcdcdc;
        height: 47px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-bottom: 0px;
        padding-bottom: 5px;
        padding-left: 45px;
        padding-right: 10px;
        padding-top: 15px;
}

.solution-footer a {
    background-color: white;
    border: 1px solid #cccccc;
    color: #333333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 30px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    padding: 5px;
}
    
.solution-body {
    padding: 8px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.template {
    display: inline-block;
    padding-bottom: 15px;
    width: 285px;
    margin: 0 auto;
    vertical-align: top;
    float: inherit;
}

.error {
    color: #b94a48;
}

.error label {
    color: #b94a48;
}

.error input {
    border-color: #b94a48;
    color: #b94a48;
}
    
.filter-solutions {
    margin: 20px;
    float: right;
}

.clear-right {
    clear: right;
}

.solution-body-logo {
    max-width: 240px;
}

.launch-logo {
    max-width: 850px;
}

.launch-design-specs {
    list-style-type: disc;
}